.editor-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  // width: 100%;
  flex-grow: 1;
  min-width: 200px;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  // <Slate />
  > div[role="textbox"] {
    box-sizing: border-box;
    margin: 0px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 300px;
    // width: 100%;
    flex-grow: 1;
    max-width: 1000px;
    min-width: 200px;
    // font-family: " ";
    // font-family: "Times New Roman", serif;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(255, 255, 255);
    &:focus {
      outline: none;
    }

    *::selection {
      background: rgba(49, 136, 236, 0.4);
    }
  }
}

.comment-bar-block {
  transition: width 0.2s ease;
  flex-grow: 0;
  flex-shrink: 0;
}

.remote-selection {
  position: absolute;
  user-select: none;
  right: -0.04em;
  top: 0em;
  width: 0.08em;

  height: 100%;
  box-sizing: border-box;

  .remote-selection-bar {
    position: absolute;
    height: 0.3em;
    width: 0.3em;
    top: -0.15em;
    right: -0.3em;

    .remote-selection-detail {
      user-select: none;
      pointer-events: none;
      position: absolute;
      left: 0em;
      bottom: 0em;

      height: 24px;
      width: auto;

      font-size: 16px;
      padding-left: 4px;
      padding-right: 4px;
      text-decoration: none;
      font-style: normal;
      color: black;

      display: none;
      &:hover {
        display: block;
      }
    }

    &:hover {
      .remote-selection-detail {
        display: block;
      }
    }
  }

  &:hover {
    .remote-selection-detail {
      display: block;
    }
  }
}
