.nav-bar {
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .user {
    margin-right: 10px;
  }
}
